<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Scenery object: "Room" with reference to XML3D Model (relative to Webclient base path), scale factor and offset
  for origin of the model -->
  <joints read="false"></joints>
  <scenery src="resources/models/lab/assets/lab_model.xml" scalefactor="1.0" offset="0 -0.1 0" location="">
    <!-- <item name="ikea_small" src="resources/models/ikea_small/ikea_small.xml" scalefactor="0.01" position="4.39 0.1 0" location=""></item> -->q
    <item name="ikea_large" src="resources/models/ikea_large/ikea_large.xml" scalefactor="0.01" position="5.2 0.1 0" location=""></item>
    <item name="reception" src="resources/models/reception/reception.xml" scalefactor="1" position="2.0 1.3 0"></item>
    <item name="fetra" src="resources/models/fetra/fetra_rot.xml" scalefactor="1" position="8.5 1.5 0"></item>
    <item name="workbench" src="resources/models/fetra/fetra.xml" scalefactor="1" position="9.5 1.0 0"></item>
  </scenery>

  <!-- Settings for coordinate system: Allows to tweak the position data that comes from TBS. -->
  <coordinatesystem unitfactor="1.0"></coordinatesystem>

  <!-- Objects that are to be visualized and for which transform updates -->
  <entities>
    <!-- Actors -->
    <entity name="compi1" src="resources/models/artemis/arm.xml" scalefactor="1" position="8.9 1.6 0.8"></entity>
    <entity name="aila1" src="resources/models/aila/aila.xml" scalefactor="1.1" position="1.0 3.5 0"></entity>
    <entity name="artemis1,body" src="resources/models/artemis/artemis.xml" scalefactor="1.1" position="5.0 3.5 0"></entity>
    <entity name="Malte,worker,worker_0,worker_1,worker_2,worker_3,worker_4,worker_5" src="resources/models/agent_model_top.xml" scalefactor="1.0" position="5.0 2.4 0"></entity>

    <!-- Locations -->
    <entity name="ikea_small" src="resources/models/ikea_small/ikea_small.xml" scalefactor="0.01" position="4.39 0.1 0" semantic="4345430016">
      <entity name="shelf_2_1" position ="0 0 0.2" semantic="4345430272">
        <entity name="red-ribbon" src="resources/models/materials/red_ribbon.xml" scalefactor="0.01" position="0 0 0" semantic="8725200901"></entity>
        <entity name="blue-ribbon" src="resources/models/materials/blue_ribbon.xml" scalefactor="0.01" position="0 0 0.1" semantic="8725200905"></entity>
        <entity name="green-ribbon" src="resources/models/materials/green_ribbon.xml" scalefactor="0.01" position="0.1 0 0" semantic="8725200907"></entity>
      </entity>
    </entity>
  </entities>
</configuration>
