<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Scenery object: "Room" with reference to XML3D Model (relative to Webclient base path), scale factor and offset
  for origin of the model -->
  <joints read="false"></joints>
  <scenery src="resources/models/ikea_small/ikea_small.xml" scalefactor="0.0000001" offset="0 -0.1 0" location="">
  </scenery>

  <!-- Settings for coordinate system: Allows to tweak the position data that comes from TBS. -->
  <coordinatesystem unitfactor="1.0"></coordinatesystem>

  <!-- Objects that are to be visualized and for which transform updates -->
  <entities>
    <entity name="boschrexroth" src="resources/models/boschrexroth/bosch_rexroth.xml" scalefactor="0.005" position="10.39 0.1 0" semantic="4345430016"> </entity>
    <entity name="gate_bosch" src="resources/models/Gate_Bosch/Gate_Bosch.xml" scalefactor="0.005" position="0.0 0.0 0" semantic="4345430016"> </entity>
  </entities>
</configuration>
